<!--<ion-header>
  <ion-navbar>
      <ion-icon name="menu" start></ion-icon>
    <ion-title>Sight Words for Ben</ion-title>
    <ion-icon name="beer" end></ion-icon>
  </ion-navbar>
</ion-header>-->
<ion-header>
  <ion-navbar color="primary">
    <!--<ion-buttons left>
        <button ion-button icon-only>
          <ion-icon name="chatboxes"></ion-icon>
        </button>
    </ion-buttons>-->
    <ion-title>Sight Words for Ben</ion-title>
    <ion-buttons right  *ngIf="selectedWordList">
      <button ion-button icon-only (click)="onCloseWordList()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <ion-grid *ngIf="wordLists">
    <ion-row *ngIf="selectedWordList == null">
      <ion-col width-50 offset-25  >
        <h2>Hey {{wordsUser}}</h2>
        <h4>Would you like to read some words?</h4>
      </ion-col>
    </ion-row>
    <ion-row  *ngIf="selectedWordList == null">
      <ion-col width-50 offset-25>
          <word-group [wordListGroups]="wordLists" (selectWordList)="onListSelected($event)"></word-group>
      </ion-col>


    </ion-row>
    <ion-row *ngIf="selectedWordList">
        <ion-col width-50 offset-25  >
            <h2>Selected word list {{selectedWordList.name}}</h2>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
